*{
    margin: 0;
    padding: 0;
}

body{ 
    background: url('night.jpg') no-repeat;
  
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.wrapper{
    /* width: 420px;?] */
    background-color: rgb(16, 16, 42);
    color: aliceblue;
    padding: 30px 40px;
    border-radius: 10px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;

}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
   
    outline: none;
    border: 2px solid rgba(red, green, blue, alpha);
    border-radius: 40px;
    font-size: 16px;
    color: aliceblue;
    padding: 0px 0px 3px 22px;
}
.input-box input::placeholder{
    color: rgb(250, 253, 255);
    text-align:left;
   

}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px
}
.remember-forgot label input{
    color: aliceblue;
    text-decoration: none;
}
.btn {
    margin: 26px 79px 28px 67px;
  height: 45px;
  width: 400px;
  text-align: center;
  border-radius: 60px;
}
.register-link{
    text-align: center;
}
